body{margin: 0; background-image: url(img/배경.jpg); background-repeat: no-repeat;}
.box1{position: relative; margin-top: 230px; margin-left: 370px;}
.box2{position: absolute; top: 439px; left: 1150px;}